.categories-page{
	h1{
		text-align: center;
		background: $black;
		padding: 12px 0px;
		margin-bottom: 0px;
		color: $white;
	}

	.category-block:nth-child(1n){
		border: 10px solid $tan;
	}
	.category-block:nth-child(2n){
		border: 10px solid $brown;
	}
	.category-block:nth-child(3n){
		border: 10px solid $sand;
	}
	.category-block:nth-child(5n){
		border: 10px solid $black;
	}

	.category-block:nth-child(7n){
		border: 10px solid $sand;
	}

	.category-block a{
		color: $black;

		&:hover{
			color: #337ab7;
		}
	}

	h2{}

	h4{
		padding-left: 18px;
	}

	h6{
		padding-left: 36px;
	}

}