nav {
    padding-right: 10px;
    padding-top: 10px;
    &.my-nav-style {
        background-color: $white;
        margin-bottom: 0;
    }
    button.navbar-toggle {
        border-color: $black;
        height: 40px;
        padding: 0px 10px;
        margin: 0;
    }
    a.navbar-brand {
        color: $black;
        transition: color .25s, font-size .35s;
        font-size: 24px;
        &:hover {
            font-size: 30px;
            color: $sand;
        }
    }


    a {
        font-weight: 700;
    }
    ul.navbar-nav > li > a {
        color: $dark-brown;
        font-size: 16px;
    }
    li.search-furniture {
        position: relative;

         .search-bar{
            display: none;
            position: absolute;
            left: 80px;
            top: 10px;
            width: 30rem;

            .item-search-input{
                width: 27rem;
                position: absolute;
                z-index:2;
            }
            .enter-search-terms {
                position: absolute;
                height: 34px;
                right: 15px;
                top: 0px;
                z-index:3;
            }
        }
    }
}

footer {
    background: $brown;
    padding: 0;
    .social-div {
        padding-bottom: 5%;
        color: $white;
        .social-lnk {
            text-align: center;
            padding-top: 5%;
            padding-bottom: 5%;
            & > a {
                color: $beige;
                &:hover {
                    cursor: pointer;
                    color: $sand;
                }
            }
        }
    }
    .address-div {
        background: $sand;
        color: $white;
        text-shadow: 1px 1px 1px #000;
        border-left: 1px solid $tan;
        .location {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 768px) {
    .address-loc {
        padding: 2.5rem 0;
        border-bottom: 0px;
    }
    li.search-furniture {
        position: relative;
       
    }
}

