.my-breadcrumb {
    ol.breadcrumb {
        margin: 0px;
        background: $sand;
        li {
            a {
                color: $white;
                text-shadow: 1px 1px 1px #000;
            }
            &.active {
                color: $white;
                text-shadow: 1px 1px 1px #000;
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

.multi-description{
    background: $black;
    color: $white;
    margin: 0;
    padding: 12px 15px;
    text-align: center; 

}

.more-listings{
    position:relative;
    height: 10rem;

    .nav-listings{
        position:absolute;
        border: 2px solid $black;
        border-radius: 50%;
        padding: 1rem;
        transition: background .2s;
        
        &:hover{
            background: $tan-translucent;
            cursor: pointer;
        }
    }

     .prev-20{
        top: 10%;
        left: 3%;
       
    }

    .next-20{
        top: 10%;
        right: 3%
    }

}


.listings-pagination{
    text-align: center; 
    
    .pagination{

        .current{
            color: red;
            text-decoration: underline;
        }
        
        .next5,
        .prev5{
            background: $beige;
            color: $black
        }

        .end-cap{
            background: $tan;
            color: $black
        }
    }
    

}


