.my-breadcrumb {
    ol.breadcrumb {
        margin: 0px;
        background: $sand;
        li {
            a {
                color: $white;
                text-shadow: 1px 1px 1px #000;
            }
            &.active {
                color: $white;
                text-shadow: 1px 1px 1px #000;
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

.multi-description{
    background: url('../images/images4upload/somechairs2.jpeg') center center no-repeat;
    background-size: contain;
    height: 300px;
    color: $black;
    margin: 0;
    text-align: center;
    position: relative;

    h1{
        background: rgba(255,255,255,.80);
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateX(0%), translateY(-50%);
    }

}

.more-listings{
    position:relative;
    height: 10rem;

    .nav-listings{
        position:absolute;
        border: 2px solid $black;
        border-radius: 50%;
        padding: 1rem;
        transition: background .2s;
        
        &:hover{
            background: $tan-translucent;
            cursor: pointer;
        }
    }

     .prev-20{
        top: 10%;
        left: 3%;
       
    }

    .next-20{
        top: 10%;
        right: 3%
    }

}


