.my-breadcrumb {
    ol.breadcrumb {
        margin: 0px;
        background: $sand;
        li {
            a {
                color: $white;
                text-shadow: 1px 1px 1px #000;
            }
            &.active {
                color: $white;
                text-shadow: 1px 1px 1px #000;
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}

.multi-description{
    background: $beige;
    margin: 0;
    padding: 12px 15px;
    text-align: center; 
    text-shadow: 1px 1px 1px $white;
    &.inactive{
        display: none
    }

    &.active{
        display:block
    }

}

