.listings-pagination{
    text-align: right; 
        

    nav .pagination{
        margin-bottom: 5px;

        & > .disabled > a {
            cursor: no-drop;
        }

        & > li > a{
            font-family: monospace;
            width: 52px;
            text-align: center;
        }
        & > li > a.current {
            border-top: 2px black solid;    
            border-bottom: 2px black solid;

            color: red;
        }


        .end-cap{
            background: $tan;
            color: $black;
        }

        .first-page{
            margin-right: 10px;
        }

        .last-page{
            margin-left: 10px;  
        }
    }
    
    .page-input{
        display: inline-block;
        margin: 0;
        & > *,
        button {
            width: 8rem;
            height: 35px;
            display:table-cell;
        }
        span.input-group-addon {
            background: $black;
            color: $white;
        }

        input.form-control{
            text-align: center;
            display: table-cell; 
        }
        button{
            border-color: $red;
        }
    }

}