<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>About</h2>
            <p>Our flagship showroom is located in Houston, Texas, and our 30,000 sq.ft. warehouse is in Pasadena, Texas We provide furniture for the collector of mid-century modern design from the 1930's through the 1980'</p>
            <p>We have designs by Milo Baughman, Jens Risom, Charles Ray Eames, and more.</p>
        </div>
        <div class="col-xs-12">
            <h2>FAQ</h2>
        </div>
        <div class="col-xs-12">
            <p class='question'>Q: Who is Metro Retro Furniture</p>
            <p class="answer">A: Metro Retro started in 2000 as an online store providing designer furniture and accessories for thousands of customers through eBay. Demand from our customers led us to acquire a 30,000 sq. foot warehouse in Pasadena, Texas, and more recently a 5000 sq. foot showroom in the Montrose area of Houston.</p>
            <p>We feature vintage items from Herman Miller, Jens Risom, Knoll, and Dunbar. We are the Houston representative for Modernica, Gordon International, Zographos and select Italian manufacturers of classic furniture. Metro Retro ships from Texas to locations throughout the United States, Asia, Great Britain & Europe, and the Americas. Metro Retro also offers artwork from corporate collections.
            </p>
        </div>
        <div class="col-xs-12">
            <p class="question">Q: What kind of stuff do you sell?
            </p>
            <p class="answer">A: We specialize in vintage Mid Century Modern designer pieces typically designed and manufactured between 1950-1975. We also offer new reproduction pieces of classic mid century designs. All of our vintage pieces are in good used condition. Brand new items are indicated in the item description. We also have a full service in-house wood refinishing shop and we can make most used pieces look as good as new.</p>
        </div>
        <div class="col-xs-12">
            <p class="question">Q: How do I place an order?</p>
            <p class="answer">A: Browse our store and find the item you want. Above the item description is a link titled 'Questions about this item?'. Click on the link and state that you wish to purchase the item. Put your contact information in the provided email. We will normally respond to your email with more information and a price quote within 48 hours.</p>
        </div>
        <div class="col-xs-12">
            <p class="question">Q: What are my payment options?</p>
            <p class="answer">A: Once you receive a price quote for your items, you can pay through Check, Bank Wire Transfer or Money Order. We accept credit cards through PayPal. For Bank Wire Transfer instructions, please contact us using the 'Questions about this item?’ link on the item page for the item you wish to purchase. Please make checks and money orders payable to Metro Retro Furniture and send checks and money orders to our accounting office at:</p>
            <p>Metro Retro Furniture
                <br> 351 Lakeside Lane Suite #308
                <br> Houston, Texas, 77058-4354</p>
        </div>
        <div class="col-xs-12">
            <p class="question">Q: How does Metro Retro rate the condition of furniture?</p>
            <p class="answer">A: Most of our pieces are vintage (30+ year old) furniture. Condition will vary. A little bruising on chair and table legs is normal wear for furniture of that age. We will point out more-than-normal bruising on a piece, however.</p>
            <p>Metro Retro uses the following condition ratings:</p>
            <table>
                <tbody>
                    <tr>
                        <th>Mint</th>
                        <td>The piece looks like it came off a showroom floor. It has all of its original finish, with original luster and no wear or flaking. There are no nicks, gouges, or scratches. Any discoloration is from the manufacturer and not a later stain.</td>
                    </tr>
                    <tr>
                        <th>Excellent</th>
                        <td>Nearly showroom perfect with one or two superficial blemishes. Overall appearance is not affected by blemishes. Piece may be refinished. We will note in the description if it has been refinished or reupholstered.</td>
                    </tr>
                    <tr>
                        <th>Very Good</th>
                        <td>Showing some signs of age. Superficial surface scratches and blemishes are more visible than Excellent. Finish may have minor flaking but the piece is otherwise presentable. A good cleaning or polishing will improve appearance.</td>
                    </tr>
                    <tr>
                        <th>Good</th>
                        <td>Definite signs of age and use. May have visible scratches and stains but piece will be useable without refinishing. May have repairs.</td>
                    </tr>
                    <tr>
                        <th>Poor</th>
                        <td>Major signs of age and wear. Will probably need to be refinished and/or repaired. A good candidate for a restoration project.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <p class="question">Q: Return Policy?</p>
            <p class="answer">A:If you are not completely satisfied with your product, return the item within 7 days and receive a full refund. Unfortunately we can not refund shipping costs or special order items. Please contact us after receiving the item. Q: Shipment and Order Problems? It is our goal to make sure every order and contact our customers have with us is a pleasant and rewarding experience. If there is a problem when your order arrives, Please call us @713-473-0000 We work hard to win the loyalty of our customers and to maintain an eBay satisfaction rating that reflects it. Before you go online and give us neutral or negative feedback, call us! and provide us the opportunity to correct any issues you have with your order. If you order arrives and you are pleased / happy / delighted, run to your pc, and leave us a 5 point positive feedback survey. And if you would like, give us a call. We like to hear from all our customers. 
        </div>
        <div class="col-xs-12">
            <p class="question">Q: What shipping options are available? </p>
            <p class="answer">
            	A: Please refer to our shipping options page HERE Please Note: Minimum order processing time at our facility is 10 working days after payment is received, PLUS, transportation time that will vary depending on the shipping method chosen by you. Express processing is available at additional cost. </p>
            <p class="answer">Our shipping and receiving depatment is open for pickups and deliveries M-F 8:30 AM - 12PM, 1PM-4:30 PM at 405 Preston Ave, Pasadena, TX 77503 Q: Do you offer any discounts? A: For large quantity orders we offer the following discounts. The quantity discount does not apply to new furniture or items that are here on consignments, nor to the cost of reupholstering or refinishing. This discount will be given as a credit on future purchases</p>
        </div>
    </div>
</div>
 
