<main class="container-fluid administrators-users">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <span class='block-number'></span>
            <h1>Admin Log-In</h1>
            <p class="big-card"><i class="fa fa-cogs"></i></p>
            <form class="new-item-form">
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" id="login-name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password Here">
                </div>
                <button class="btn btn-info admin-login-btn">Enter Admin</button>
                <p><br><span class="response-msg"></span></p>
            </form>
            </div>
        </div>
</main>
