<div class="consignment container-fluid">
    <h2>Want to consign your furniture?</h2>
    <hr>

    <div>
        <a class="btn btn-lg btn-default" href="#" role="button">Consign with MetroRetro</a>
    </div>

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-5">
                    <input id="email" name="email" type="text" placeholder="email address" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fullname">Full Name</label>
                <div class="col-md-5">
                    <input id="fullname" name="fullname" type="text" placeholder="first and last name" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Phone Number</label>
                <div class="col-md-5">
                    <input id="phone" name="phone" type="text" placeholder="mobile or home phone #" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="address1">Address</label>
                <div class="col-md-5">
                    <input id="address1" name="address1" type="text" placeholder="Address Line 1" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="address2">Apt / Unit / Suite</label>
                <div class="col-md-5">
                    <input id="address2" name="address2" type="text" placeholder="Address Line 2" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="city">City</label>
                <div class="col-md-5">
                    <input id="city" name="city" type="text" placeholder="city" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="postal">Zip / Postal Code</label>
                <div class="col-md-5">
                    <input id="postal" name="postal" type="text" placeholder="zip code or postal code" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="state">State / Region</label>
                <div class="col-md-5">
                    <input id="state" name="state" type="text" placeholder="state or region" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="country">Country</label>
                <div class="col-md-5">
                    <select id="country" name="country" class="form-control">
                        <option value="1">USA</option>
                        <option value="2">Mexico</option>
                        <option value="3">Canada</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </form>
</div>