<main class="container-fluid administrators">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <span class='block-number'></span>
            <h1>Employee | User Log-In</h1>
            <p class="big-card"><i class="fa fa-user"></i></p>
            <form class="new-item-form">
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control new-item-name" id="login-name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control new-item-price" id="login-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Enter</button>
            </form>
            </div>
        </div>
</main>
