<style>
.wrapper {
    padding: 1% 10%;
}

a.btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.image-display {
    border: 1px solid black;
}

p {
    color: blue;
    max-width: 650px;
}

.thumbnail {
    width: 60px;
    height: 40px;
}

img{
    width: 100%;
    height: 100%;
}

</style>
<label class="control-label" for="">Get Image by MR#:</label>
<input type="text" class="form-control mr-input" id="shipping-AddressLine1" placeholder="Enter MR">
<p></p>
<a href="#" class="btn btn-primary get-mr-imgs">Get Images</a>
<hr>
<h3 class='listing-id' data-id="">MR</h3>

<div class='info-container'>
    <div class="container-fluid">
        <div class="row">
        	<%console.log(data)%>
            <% data.imageArray.forEach(function(imageURL, i){ if(i===0){ %>
                <div class="col-xs-4 col-xs-offset-4 image-display">
                    <img src="<%=data.imageTnArray[i]%>" alt="" class='select-image' data-imgSrc="<%=imageURL%>">
                </div>
        </div>
        <div class="row">
            <%} else { %>
                <div class="col-xs-3 image-display">
                    <img src="<%=data.imageTnArray[i]%>" alt="" class='select-image' data-imgSrc="<%=imageURL%>">
                </div>
                <% } })%>
        </div>
    </div>
    <hr>
    <%data.imageArray.forEach(function(imageURL, i){%>
        <div class="form-group img-input-<%=i+1%>">
            <label class="control-label" for="">Img -
                <%=i+1%>: Link</label>
            <div></div>
            <img src="" alt="img here" class="thumbnail">
            <p class="form-control " id="shipping-AddressLine1"></p>
        </div>
        <%})%>
</div>

<hr>

<a class="btn btn-primary btn-success upload-imgs" disabled="true">Upload to Parse</a>
