<!-- footer.html -->
<div class="row">
    <div class="col-xs-12 col-sm-4 social-div">
        <a name="contact-us"></a>

        <h2>Social</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 social-lnk">
                    <a href="https://www.facebook.com/pages/Metro-Retro-Furniture/48340730778"><i class="fa fa-facebook fa-5x"></i></a>
                </div>
                <div class="col-xs-6 social-lnk">
                    <a href="https://twitter.com/metroretrofurn"><i class="fa fa-twitter fa-5x"></i></a>
                </div>
                <div class="col-xs-6 social-lnk">
                    <a href="https://instagram.com/metroretrohtx/"><i class="fa fa-instagram fa-5x"></i></a>
                </div>
                <div class="col-xs-6 social-lnk">
                    <a href="https://www.pinterest.com/metroretro713/"><i class="fa fa-pinterest fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 address-div">
        <h2>Address</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 address-loc">
                    <p>
                        <i class="fa fa-building-o fa-2x"></i>
                        <br><strong><span class="location">Pasadena Warehouse</span></strong>
                        <br> 405 Preston Rd.
                        <br> Pasadena, TX 77403
                        <br>
                        <br><i class="fa fa-phone fa-2x"></i>
                        <br> 713-473-0000
                        <br>
                        <br><i class="fa fa-clock-o fa-2x"></i>
                        <br><strong>Hours:</strong>
                        <br>M-F 8:00am - 5:00pm
                        <br>Sat: 8:30am - 3pm
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 address-loc">
                    <p>
                        <i class="fa fa-building-o fa-2x"></i>
                        <br> <strong><span class="location">Houston Showroom</span></strong>
                        <br> 2215 Rd.
                        <br> Washington, TX 77007
                        <br>
                        <br><i class="fa fa-phone fa-2x"></i>
                        <br> 713-521-3030
                        <br>
                        <br><i class="fa fa-clock-o fa-2x"></i>
                        <br><strong>Hours:</strong>
                        <br>Tues-Sat: 9:30am - 3pm
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
