<!-- gallery.html -->
<div class="gallery">
    <div class="absolute-center">
        <h1>metro retro furniture</h1>
        <img src="./images/bauhaus.png" alt="">
        <a class="btn btn-lg btn-default products-link" href="#" role="button">Recent Listings</a>
    </div>
</div>
<!-- style.html -->
<div class="container-fluid selection-by-style">
    <h2 class="centered">Shop by style</h2>
    <hr>
    <div class="row">
        <a class="col-xs-6 col-sm-3" href="#">
            <p class="text">Art Deco</p>
        </a>
        <a class="col-xs-6 col-sm-3" href="#">
            <p class="text">Mid Century</p>
        </a>
        <a class="col-xs-6 col-sm-3" href="#">
            <p class="text">Contemporary</p>
        </a>
         <a class="col-xs-6 col-sm-3" href="#">
            <p class="text">Scandinavian</p>
        </a>
    </div>
    <div class="col-xs-12 shop-button-div">
           <a class="btn btn-lg btn-default shop-styles-btn" href="#" role="button">Shop Styles</a>
    </div>
</div>
<!-- by-category -->
<section class="container-fluid selection-by-cat">
    <div class="row">
        <div class="col-xs-12">
            <h2>Shop by category</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="dresser" class="cat-link">
                <img src="./images/by-category/dresser.svg">        
                <h5>case pieces</h5>
            </a>
        </div>
          <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="chair" class="cat-link">
                <img src="./images/by-category/chair.svg">            <h5>seating</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="diningTable" class="cat-link">
                <img src="./images/by-category/table.svg"> <h5>tables</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style chair">
            <a href="#" data-category="coffeeTable" class="cat-link">
                <img src="./images/by-category/desk.svg">           <h5>desks</h5>
            </a>
        </div>
         <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="rug" class="cat-link">
                <img src="./images/by-category/rug.svg">
                <h5>rugs</h5>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 our-style">
            <a href="#" data-category="bedFrame" class="cat-link">
                <img src="./images/by-category/lighting.svg"> 
                <h5>lighting</h5>
            </a>
        </div>
        <div class="col-xs-12 shop-button-div">
           <a class="btn btn-lg btn-default shop-categories-btn" href="#" role="button">Shop More Categories</a>
        </div>
    </div>
</section>
<!-- consignment.html -->
<div class="consignment container-fluid">
    <h2>Want to consign your furniture?</h2>
    <div>
        <a class="btn btn-lg btn-default consignment-form-btn" href="#" role="button">Consign with MetroRetro</a>
    </div>
   
</div>