<%
    // note: data should be 
    //capitalize the first letter for the <h1> tag
    
    function capitalize(str){
         var firstLetterCapitalized = str.charAt(0).toUpperCase();
         return firstLetterCapitalized + str.substr(1);
    }

    //test to see if the route is a single-listing
    
    function testForSingleListing(currentRoute){
        if( currentRoute.indexOf('listing')>-1 ) {
            console.log('singleListing');
            return true;
            
        }  else {
                console.log('productsListing')
                return false
        }
           
    }

    var currentRoute = window.location.hash

%>

<section class="my-breadcrumb">
		
        <ol class="breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <%console.log('nav-breadcrumb-data:')%>
            <%  data.currentCategoryTree.forEach(function(categoryName, index){   
                if(index !== data.currentCategoryTree.length-1 ){     
                %>
                    <%if(categoryName==='All Products'){
                        var hlink="#/products"}
                        else{ 
                            var num = _.findKey(data.categoryLabels,function(label){
                                    return label === categoryName
                                })
                    
                            var hlink = "/#/products/category/"+ num
                            
                            } %>

                <li><a href="<%=hlink||'/#'%>"><%=categoryName%></a>
                  
                <%} else if ( index === data.currentCategoryTree.length - 1) 
                { %>            
                
                <li class="active"><span><%=categoryName && capitalize(categoryName) || data.searchQuery &&"Results: " + data.searchTerms || "" %></span></li>

                <%}%>

            <%})%>
        </ol>
</section>

<section class='multi-description <%=testForSingleListing(currentRoute)? 'inactive' : 'active' %>'>
    <h1 >
        <%console.log(data)%>
        <%if(data.searchQuery){%>
            Search Results for : <em><%= data.searchTerms %></em>
        <%} else if(data.styleQuery){%>
            <%=data.styleType || 'Product'%> Listings
        <%} else {%>
        <%=data.categoryLabels[data.currentCategory]||'Product'%> Listings
        <%}%>
        <br>
        <small>
        [ <%=data.currentListingSet[0]%> - <%=data.currentListingSet[1]%> ]  of <%=data.totalMatches%>
        </small>
    </h1>
</section>


