<%
    
    Array.prototype.forEACH = function(cb){
        var i,
            len = this.length

        for(i=0; i < len; i++ ){
            cb(this[i], i, this)
        }
    }

    __ = {
        findKey:function(obj , f){
         
               var tmp = '';
                for( var prop in obj ) {
                if( obj.hasOwnProperty( prop ) ) {
                  
                  if (f(obj[prop])){
                      tmp = prop;
                      break;
                  }
                }
            }
            return tmp
        }

    }



    // note: data should be 
    //capitalize the first letter for the <h1> tag
    
    function capitalize(str){
         var firstLetterCapitalized = str.charAt(0).toUpperCase();
         return firstLetterCapitalized + str.substr(1);
    }

    //test to see if the route is a single-listing
    
    function testForSingleListing(currentRoute){
        if( currentRoute.indexOf('listing')>-1 ) {
            console.log('singleListing');
            return true;
            
        }  else {
                console.log('productsListing')
                return false
        }
           
    }

    var currentRoute = window.location.hash

%>

<section class="my-breadcrumb">
		
        <ol class="breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <%console.log('nav-breadcrumb-data:')%>
            <%  data.currentCategoryTree.forEACH    (function(categoryName, index){   
                if(index !== data.currentCategoryTree.length-1 ){     
                %>
                    <%if(categoryName==='All Products'){
                        var hlink="#/products"}
                        else{ 

                            var num = __.findKey(data.categoryLabels,function(label){
                                    return label === categoryName
                                })
                    
                            var hlink = "/#/products/category/"+ num
                            
                            } %>

                <li><a href="<%=hlink||'/#'%>"><%=categoryName%></a>
                  
                <%} else if ( index === data.currentCategoryTree.length - 1) 
                { %>            
                
                <li class="active"><span><%=categoryName && capitalize(categoryName) || data.searchQuery &&"Results: " + data.searchTerms || "" %></span></li>

                <%}%>

            <%})%>
        </ol>
</section>

<%
    console.log('Category')
    console.log('-----------')
  
    var helpme = {
        'Mid Century' : 'mid-century'  ,   
        'Art': 'art',
        'Art Deco': 'art-deco',
        'Scandinavian' : 'scandinavian' ,
        'Bedroom' : 'bedroom' ,
        'Case Goods' : 'case-goods' ,
        'Clearance' : 'new-furniture' ,
        'Desks' : 'desk' ,
        'Industrial' : 'industrial'  ,
        'Lighting' : 'lighting' ,
        'Marble' : 'marble' ,
        'Miscellaneous' : 'miscellaneous' ,
        'New Furniture' : 'new-furniture' ,
        'Outdoor': 'outdoor' ,
        'Recent Arrivals' : 'recent-arrivals' ,
        'Rugs' : 'rug' ,
        'Scandinavian' : 'scandinavian' ,
        'Seating': 'seating',
        'Tables': 'table',
        'Textiles' : 'seating' ,
        'Traditional' : 'traditional' 
    }

    console.log(data)
    
    if(data.currentCategoryTree[1]){
        console.log('currrent category tree = expliciet')
      fileName = helpme[data.currentCategoryTree[1]]
    } else if (data.currentCategory){
        console.log('currrent category tree = general')

        fileName = helpme[data.currentCategory]
    } else {
        console.log('faillled')
        fileName ='hermanmiller'
    }
    

    var filePath = "./images/header-images/"+fileName+".jpg"
%>



<section class='multi-description <%=testForSingleListing(currentRoute)? 'inactive' : 'active' %>' style="  background: url(<%=filePath%>) center center no-repeat;">
        

    <h1>

        <%if(data.searchQuery){%>
            Search Results for : <em><%= data.searchTerms %></em>
        <%} else if(data.styleQuery){%>
            <%=data.styleType || 'Product'%> Listings
        <%} else {%>
        <%=data.categoryLabels[data.currentCategory]||'Product'%> Listings
        <%}%>
        <br>
        <small>
        [ <%=data.currentListingSet[0]%> - <%=data.currentListingSet[1]%> ]  of <%=data.totalMatches%>
        </small>
    </h1>
</section>


