<%console.log('pagination data:')%>
<%console.log(data)%>
<%
    // note: data should be 
    //capitalize the first letter for the <h1> tag

    //test to see if the route is a single-listing
    
    function testForSingleListing(currentRoute){
        if( currentRoute.indexOf('listing')>-1 ) {
            console.log('singleListing');
            return true;
            
        }  else {
                console.log('productsListing')
                return false
        }
           
    }

    var currentRoute = window.location.hash

%>
<div class="row <%=testForSingleListing(currentRoute)? 'inactive' : 'active' %>">
          <div class="col-xs-12">
            <nav class= ''>
                  <ul class="pagination">

                   <%  console.log("total-pages: "+data.totalPages);
                console.log("current-page: "+data.currentPage);

                var pagination = {
                    beginning: 1,
                    ending: data.totalPages,
                    currentPage: data.currentPage,
                    prevPage: data.currentPage-1,
                    nextPage: data.currentPage+1,
                }

                var leftArrowStatus;
                var rightArrowStatus;
                console.log('left arrow test')
                console.log(pagination.currentPage === pagination.beginning)
                pagination.currentPage ===  pagination.beginning ? leftArrowStatus = 'disabled' : leftArrowStatus =''

                pagination.currentPage === pagination.ending ? 
                    rightArrowStatus = 'disabled' : rightArrowStatus = '';

                    

                %>



            <% var i = 1
            for(i ; i <= data.totalPages; i++){
                if(i===pagination.currentPage){var current='current'}
                    //-----first-page-----//
                    if( i === pagination.beginning ){ %>
            
                    <li><a class="select-page end-cap first-page <%=current||''%>" href="#"><%=i%></a></li>

            <% }    //-----prev page-----//
                    if( i === pagination.prevPage && pagination.prevPage > pagination.beginning ){ %>
                    <li><a href="#" class="select-page"><%=i%></a></li>

            <% }    //-----current page-----//
                    if( i === pagination.currentPage && i !== pagination.beginning && i !== pagination.ending ){ %>
                    <li><a class="select-page <%=current||''%>"><%=i%></a></li>

            <% }    //-----next page-----//
                    if( i === pagination.nextPage && pagination.nextPage !== pagination.ending){ %>
                    <li><a class="select-page" href="#"><%=i%></a></li>

            <% }    //-----last-page-----//
                    if( i === pagination.ending && pagination.ending !== pagination.beginning ){ 
                        if (pagination.currentPage === pagination.ending){var current2 = 'current'}%>
                    <li ><a class="select-page   end-cap last-page <%= current2 || ''%> " href="#"><%=i%></a></li>

            <% } %>
                
            <% } %>
    
                  </ul>
            </nav>

            <div class="input-group page-input">
                  <span class="input-group-addon">Page #</span>
                  <span><input type="number" max="<%=pagination.ending%>"     class="form-control" aria-describedby="basic-addon1">
                  </span>
                  <span class="input-group-btn">
                    <button class="btn btn-default go-2-page" type="button">Go!</button>
                  </span>
            </div>
        </div>
</div>

