<main class="container-fluid">
    <section class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">All Products</a>
            </li>
            <li class="active">Mid-Century</li>
        </ol>
    </section>




    <section class="container-fluid product-display">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container" data-productID="{MR_id}">
                <div class="thumbnail" >
                    <img src="./images/listings-sample/image1.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>{item}</h4>
                        <p>${price}</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
           
        </div>

    </section>

</main>

 <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container"  data-productId="nnls2p112">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image2.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                         <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image4.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image5.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image6.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image3.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image2.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image6.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image3.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container">
                <div class="thumbnail">
                    <img src="./images/listings-sample/image1.jpg" alt="gallery-img">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>$1,000</p>
                        <a href="#" class="btn btn-default more-info" role="button">More Info</a>
                    </div>
                </div>
            </div>
 -->
