<main>
   <section class="container-fluid more-listings">
        <div class="prev-20 nav-listings">
            <i class="fa fa-arrow-left fa-3x"></i>
        </div>
        <div class="next-20 nav-listings">
            <i class="fa fa-arrow-right fa-3x"></i>
        </div>
    </section>

    <section class="container-fluid product-display">
        <div class="row">
        <%console.log(data)
         data.forEach( function(parseObject){ 
            if (parseObject.get('database_img_LINK_1')) {
                var imgLink = parseObject.get('database_img_LINK_1')
                
                } else if (parseObject.get('database_img_FILE_1')){
                    var imgLink = parseObject.get('database_img_FILE_1')._url
                
                } else {
                    var imgLink = "./images/no_image.jpg"
                }
        %>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 img-listing-container" data-MR-ID="<%=parseObject.get('MR_id')%>">
                <a href="#" class='single-listing-link'>
                
                <div class="thumbnail" >
                    <div class="div-overlay"></div>
                    <img src="<%=imgLink%>" alt="gallery-img" class="thumbnail-img" onError="this.onerror=null;this.src='./images/no_image.jpg';">
                    <div class="caption">
                        <h5><%=parseObject.get('item')%></h5>
                        <p><%=parseObject.get('priceDollar')%></p>
                    </div>
                
                </div>
                </a>
            </div>
        <%})%>
        </div>
    </section>
</main>
