<main class="container-fluid">
<div class="row">
	<div class="col-xs-12">
		<a href="#" class="btn btn-info keep-browsing">Keep-Browsing</a>
		<h3>Your Order</h3>
		<table>
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
				</tr>
			</thead>
			<table>
				<tbody>
					<tr>
						<td>Couch</td>
						<td>$3,000</td>
					</tr>
					<tr>
						<td>Credenza</td>
						<td>$2,040</td>
					</tr>
				</tbody>
			</table>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-4">
		<h3>(1)</h3>
		<h3>Shipping Information</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem vero repellat consectetur dolorum mollitia molestias facilis, eius cum vitae. Sed, exercitationem, dolorem. Harum!</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<h3>(2)</h3>
		<h3>Billing</h3>
		<p>Quae, sapiente, quos! Perferendis facere quisquam cum aspernatur nam beatae omnis quibusdam praesentium earum cupiditate rerum, aut odio quia laudantium explicabo possimus perspiciatis.</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<h3>(3)</h3>
		<h3>Order Summary</h3>
		<p>Explicabo dignissimos tenetur doloremque quod aliquid quasi numquam labore dolorem nam. Ipsum possimus itaque sequi, mollitia. Molestias omnis blanditiis voluptates! Asperiores, voluptatem soluta.</p>
		<h4>Shipping</h4>
		<select name="shipping" id="shipping">
			<option value="standard">Standard</option>
			<option value="express">Express</option>
			<option value="whiteGlove">White Glove</option>
		</select>
		<br>
		<br>
		<a href="#" class="btn btn-success btn-lg confirm-purchase"><i class="fa fa-check-square"></i>&nbsp Place Your Order</a>
	</div>
	
</div>
	
</main>