<section class="breadcrumb-nav container-fluid">
    <ol class="breadcrumb">
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">All Products</a>
        </li>
        <li class="active">Mid-Century</li>
    </ol>
</section>

<!-- image slider -->
<main class="container-fluid">
    <div class="row">
        <section class="col-xs-12 col-sm-8 single-listing-carousel">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">

                                    <!--    <img src="./images/single-product-sample/computer-1.jpg" alt="furniture-img1"> -->
                                    <div style="background:url(./images/single-product-sample/computer-1.jpg) center center; background-size:cover;" class="slider-size-single-listing">

                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <!--    <img src="./images/single-product-sample/computer-1.jpg" alt="furniture-img1"> -->
                                    <div style="background:url(./images/single-product-sample/computer-2.jpg) center center; background-size:cover;" class="slider-size-single-listing">

                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <!--    <img src="./images/single-product-sample/computer-1.jpg" alt="furniture-img1"> -->
                                    <div style="background:url(./images/single-product-sample/computer-3.jpg) center center;          background-size:cover;" class="slider-size-single-listing">

                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <!--    <img src="./images/single-product-sample/computer-1.jpg" alt="furniture-img1"> -->
                                    <div style="background:url(./images/single-product-sample/computer-4.jpg) center center;          background-size:cover;" class="slider-size-single-listing">

                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <i class="fa fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="col-xs-12 col-sm-3 key-listing-info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 label">
                        <h2>Product-Computer</h2>
                    </div>
                    <div class="col-xs-12 price">
                        <h4>$1,200</h4>
                    </div>
                    <div class="col-xs-12 description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti molestiae omnis est nihil repellendus perspiciatis accusantium nam ad ratione numquam.</p>
                    </div>
                    <div class="col-xs-12 add-to-cart">
                        <button href="#" class="btn btn-success"><i class="fa fa-plus"></i>&nbspADD TO CART</button>
                        <a class='btn btn-primary btn-lg' href='#/mycart'>
                        <i class="fa fa-shopping-cart"> My Cart</i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>



</section>
